#form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="name"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
/* login end  */
.gallery_upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.gallery_upload h2 {
    margin-bottom: 20px;
}

.gallery_upload input[type="text"],
.gallery_upload input[type="file"],
.gallery_upload button[type="submit"] {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.gallery_upload input[type="file"] {
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
}

.gallery_upload button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.gallery_upload button[type="submit"]:hover {
    background-color: #3e8e41;
}